{% extends 'base.html' %} 
{% load static %} 
{% load widget_tweaks %} 
{% block content %}

<div class="row justify-content-center align-items-center h-100">
  <div class="col-md-10 col-lg-6 col-xl-5">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
      ログイン
    </p>

    <form action="" method="POST" class="mx-1 mx-md-4">
      {% csrf_token %}
      <!-- email -->
      <div class="d-flex flex-row align-items-center mb-4">
        <i class="icofont-envelope icofont-1x me-2"></i>
        <div class="form-outline flex-fill mb-0">
          {% render_field form.login class="form-control" placeholder="Type Your Email"%}
        </div>
      </div>
      <!-- password -->
      <div class="d-flex flex-row align-items-center mb-4">
        <i class="icofont-lock icofont-1x me-2"></i>
        <div class="form-outline flex-fill mb-0">
          {% render_field form.password class="form-control" placeholder="Type Your Password"%}
        </div>
      </div>

      <div
        class="d-flex justify-content-between align-items-center mb-3"
      >
        <!-- Checkbox -->
        <!-- <div class="form-check mb-0">
          {% render_field form.remember class="form-check-input"%}
          <label class="form-check-label" for="form2Example3">
            Remember me
          </label>
        </div> -->
      </div>

      <div class="text-center mb-3 mb-lg-4">
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          style="padding-left: 2.5rem; padding-right: 2.5rem"
        >
          Login
        </button>

        <div class="mt-4">
          <p class="small fw-bold mt-2 pt-1 mb-0 text-end">
            新規登録は<a aria-current="page" href="{% url 'accounts:account_signup' %}">こちら </a>
          </p>
          <!-- <p class="small fw-bold mt-2 pt-1 mb-0 text-end">
            パスワードを忘れた方は
            <a aria-current="page" href="">こちら </a>
          </p> -->
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
