{% extends "base.html" %} {% load static %} {% load widget_tweaks %} 


{% block content %}

<div class="card card-profile my-5 mx-auto">
  <div class="card-body">
    <h5 class="card-title text-center">プロフィール</h5>
    <div>
        {% if user.icon %}
        <img src="{{ user.icon.url }}" class="user-icon" />
        {% else %}
        <img src="{% static 'images/user_icon.png' %}" class="avatar" />
        {% endif %}
      </div>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <table class="profile_table mb-4">
        <tbody>
          <tr>
            <th class="header">名前</th>
            <td class="data form_wrap form_wrap-2">
              {% render_field form.user_name class="form-control mt-5 mb-2 rounded text-dark-light" placeholder="ユーザー名" %}
            </td>
            {% render_field form.icon class="form-control mt-5 mb-2 rounded text-dark-light" placeholder="icon" %}
          </tr>
        </tbody>
      </table>
      <div class="button mx-auto">
        <button class="btn btn-lg btn-warning btn-block" type="submit">
          登録する
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
